<!-- Add New List Title -->
<div class="modal" tabindex="-1" role="dialog" id="newListTitleModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form action="/addNewList" method="post">
                    <div class="input-group ">
                        <input type="text" class="form-control myModalInput" name="newListTitle" id="newTitleInput"
                            placeholder="Press Enter to Add New List Title" autocomplete="off">
                        <div class="input-group-append">
                            <!-- <button class="btn btn-secondary" type="submit" name="addBtn">Add</button> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>