<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>To Do List</title>
    <meta name="description" content="To Do List" />
    <meta name="keywords" content="To Do List" />
    <meta name="author" content="Hannah Davydova" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" type="image/jpg" href="css/favicon.ico"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <div class="wrapper">
      <!-- Sidebar -->
      <%- include("sidebar"); -%>

      <!-- Page Content -->
      <div id="content">
